.gitmodules
.variables.json
**/Dockerfile
**/*.handlebars
pnpm-lock.yaml

.autodoc/
.cache/
.common/
.config/
.git/
.github/
.gitlab/
.husky/
.modules/
.npm/
.pnpm-store/
.shared/
.task/
.venv/
.vscode/
**/.cache/
build/
coverage/
dist/
node_modules/
venv/
